html,
body {
    margin: 0;
    padding: 0;
}

body,
.form__ip-title,
.form__ta-description {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
}

h2 {
    font-size: 100%;
    font-weight: normal;
}

.close,
.list-item,
.form__name,
.form__title,
.form__button,
.form__ip-title,
.to-do-list__name,
.form__description,
.form__ta-description {
    font-family: "Arial regular";
}

.form__button,
.form__ip-title,
.list-item__name, 
.form__ta-description {
    font-size: 16px;
}

.close,
.form__title,
.form__description,
.list-item__content {
    font-size: 14px;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding-top: 65px;
    overflow-y: hidden;
    position: relative;
}

.form,
.to-do-list {
    width: 49%;
    background-color: #ffffff;
}

.to-do-list {
    float: left;
    display: inline-block;
}

.form {
    float: right;
}

.form__name,
.to-do-list__name {
    margin: 0;
    color: #000000;
    font-size: 21px;
    padding-bottom: 34px;
    background-color: #f5f5f5;
}
.close,
.form__title,
.form__description {
    margin-top: 0;
    color: #8993ad;
}

.form__box {
    padding: 40px;
}

.form__ip-title,
.form__ta-description {
    margin-bottom: 30px;
}

.form__ip-title {
    height: 45px;
}

.form__ta-description {
    resize: none;
    height: 230px;
}


.form__button {
    width: 224px;
    height: 55px;
    color: #ffffff;
    border: 0 none;
    cursor: pointer;
    background-color: #2174fd;
}

.to-do-list__box {
    background-color: #f5f5f5;
}

/*-----------------List is FULL Start--------------------------*/

.list-item {
    margin-bottom: 20px;
    background-color: #ffffff;
}

.list-item__name {
    margin: 0;
    height: 18px;
    color: #000000;
    padding: 18px 20px;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.list-item__content {
    margin: 0;
    height: 50px;
    color: #8993ad;
    overflow-x: hidden;
    padding: 18px 20px;
    word-wrap: break-word;
}

.contentHidden {
    display: none;
}

.cross {
    cursor: pointer;
    margin-left: 20px;
}

/*-------------------List is FULL END--------------------------*/

/*----------------------ARROW START--------------------------*/
.arrow {
    pointer-events: none;
}

.down:after,
.left:after {
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 10px;
    content: '\25BC';
    position: absolute;
    pointer-events: all;
}

.down:after {
    content: '\25BC';
}

.left:after {
    content: '\25C4';
}

/*----------------------ARROW END--------------------------*/

